
.can .inner {
    justify-content: center;
    text-align: center;
}

.can .inner .btnn {
    width: 300px;
    display: inline-block;
    position: absolute;

}

.how {
    font-size: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 50px;
}
.howDef{
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 50px;
}

