
.can .inner {
    justify-content: center;
    text-align: center;
}

.can .inner .btnn {
    width: 300px;
    display: inline-block;
    position: absolute;
    left: vh;

}

.gamedef {
    border: 1px solid #777; 
    text-align: center;
}

